---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Antonio Bergas"
  description="About Antonio Bergas Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Antonio Bergas at work with a colleague"
        />
      </Hero>

      <section>
        <div class="section-title">Background</div>
        <div class="content">
          <p>
            Automation, that great process that makes us advance so much and I'm
            in love with.
          </p>
          <br />
          <p>
            Since I started as a Fullstack Developer I was constantly looking
            for ways to improve processes to make them more effective and faster
            which has always been part of improving the way I program.
          </p>
          <br />
          <p>
            Thanks to that and being methodical and organised I have been able
            to move forward in this sector, full of knowledge and opportunities
            such as discovering everything related to a DevOps culture and
            realising that the way I work fits perfect for it.
          </p>
          <br />
          <p>
            That is how I have ended up contributing to improve workflows or
            development cycles as Platform Engineer so that the teams I work
            with can create more valuable products within the company in a
            faster way.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <div>
            <p><strong>JAVA Programmer, Web Development with JAVA</strong></p>
            <p>2016 - 2017</p>
            <p>
              Activities and groups: Desktop JAVA Applications, Web JEE
              Applications, MySQL, JavaScript, HTML5, CSS3
            </p>
            <p>
              Web Development JAVA course from Digital Employment (Telefónica
              Foundation), 6 months of intensive course with final project in
              sector companies.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li><strong>DevOps</strong></li>
            <li><strong>Typescript</strong></li>
            <li><strong>React</strong></li>
            <li><strong>Bash</strong></li>
            <li><strong>Docker</strong></li>
            <li><strong>Node</strong></li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
