---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import PositionPreview from "../components/PositionPreview.astro";

const positions = await getCollection("career");
---

<BaseLayout
  title="My Career | Antonio Bergas"
  company="Learn about Antonio Bergas's career path"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Career"
        tagline="See what I've been up to in the past few years"
        align="start"
      />
      <Grid variant="offset">
        {
          positions.map((position) => (
            <li>
              <PositionPreview position={position} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
